*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
background-image:url('https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg?cs=srgb&dl=pexels-peng-liu-169647.jpg&fm=jpg')
}
.link {
  text-decoration: none;
}

h1{
  text-align: center;
  margin-bottom: 50px;
}
.coming-soon{
  text-transform: capitalize;
  width: max-content;
  height: max-content;
  padding: 50px;
  background: rgba(0,0,0,00.5);
border-radius:10px;
color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coutdown{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.container-day,.container-hour,.container-minute,.container-second{
 
  padding: 0.5rem 2rem;
  margin: 0 15px;
} 
.day,.hour,.minute,.second{
  font-size: 2rem;
}

