  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url('https://wallpapers.com/images/hd/chill-music-background-8c0wruckxb7cx6py.jpg');
  background-size: cover;
}
.link {
  text-decoration: none;
}
.coming-soon{
  text-transform: capitalize;
  width: max-content;
  height: max-content;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coutdown{
  display: flex;
  padding: 10px;
  font-size: 18px;
  justify-content: space-around;
  text-align: center;
}
.qr{
  padding: 40px;
  background: rgba(0,0,0,00.5);
  border-radius:10px;
  text-align: center;
}
.qr img {
    width: 180px;
    height: 180px;
    box-shadow: 2px 3px rgb(74, 245, 148);
    border-radius: 15px;
}
.qr p {
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-shadow: 0 0 10px rgb(6, 248, 111);
  font-family: 'Times New Roman', Times, serif;
}
.container-day,.container-hour,.container-minute,.container-second{
 
  padding: 1rem 2rem;
  margin: 0 15px;
  border: 1px solid;
  text-shadow: 0 0 10px rgb(6, 248, 111);
  border-radius: 10px;
  background-image: url("https://th.bing.com/th?id=OIF.%2f%2fJd51efLJvkTwnQzszzfg&w=252&h=180&c=7&r=0&o=5&pid=1.7");
} 
.day,.hour,.minute,.second{
  font-size: 4rem;
}
